{% extends 'layout.html' %}

{% block body %}
    {% include 'navbar.html' %}
    <div class="chart-container">
        <h1 class="chart-title">Product Sales for Categories</h1>
        <button class="btn btn-primary dropdown-toggle" type="button" id="category-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ default_category }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for category in categories_labels %}
                <button class="dropdown-item category-dropdown" id="{{ category }}">{{ category|capitalize }}</button>
            {% endfor %}
        </div>
        <canvas width=800 height=450 id="products-chart"></canvas>
        <hr>
        <h1 class="chart-title">Revenues of Categories</h1>
        <canvas id="categories-chart"></canvas>
        <hr>
        <h1 class="chart-title">Product Price Comparisson</h1>
        <input type="text" id="product-input" placeholder="Enter product name">
        <button class="btn btn-success" id="search-product" type="button">Search</button>
        <canvas id="prices-comparisson-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Use these variables to destroy and recreate their charts
        let pricesComparissonChart = null;
        let productsChart = null;

        // Create the first two charts when the page loads
        $(function() {
            // Creates the charts
            getProductsData();
            createCategoriesChart();
        });

        // Call the API to get the sales of all products in a category and create the chart
        $(".category-dropdown").click(function(){
            let category = $(this).attr("id")
            getProductsData(category);
            $("#category-dropdown").html(category)
        });

        // Call the API to get the prices sales for a given product and create the chart
        $("#search-product").click(function() {
            let product = $("#product-input").val();
            if (pricesComparissonChart != null) {
                pricesComparissonChart.destroy();
            }
            $.get("/comparisson-search/" + product, function(data) {
                // Creates the chart
                createPricesComparissonChart(data);
            })
        });

        // Gets the sales of the products in a category and creates the chart
        function getProductsData(newCategory) {
            let category =  newCategory ? newCategory : 'fruits';
            if (productsChart != null) {
                productsChart.destroy();
            }
            $.get("/product-sales/" + category, function(data) {
                // Creates the chart
                createProductsChart(data);
            })
        }

        function createPricesComparissonChart(prices_data) {
            const pricesLabels = prices_data.prices_labels;
            const pricesData = prices_data.prices_data;
            const data = {
                labels: pricesLabels,
                datasets: [{
                    label: 'Sales of Product at Different Prices',
                    data: pricesData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            };
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    return '$' + value;
                                }
                            }
                        }
                    }
                }
            };
            pricesComparissonChart = new Chart(
                document.getElementById('prices-comparisson-chart'),
                config
            );
        }

        function createProductsChart(products_data) {
            const productsLabels = products_data.products_labels;
            const productsData = products_data.products_data;
            const data = {
                labels: productsLabels,
                datasets: [{
                    label: 'Sales of Products',
                    data: productsData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            };
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    return '$' + value;
                                }
                            }
                        }
                    }
                },
            };
            productsChart = new Chart(
                document.getElementById('products-chart'),
                config
            );
        }

        function createCategoriesChart() {
            const categoriesLabels = {{ categories_labels | tojson }};
            const categoriesData = {{ categories_data | tojson }};
            const data = {
                labels: categoriesLabels,
                datasets: [{
                    label: 'Performance of each category',
                    data: categoriesData,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 8
                }]
            };
            const config = {
                type: 'pie',
                data: data
            };
            var categoriesChart = new Chart(
                document.getElementById('categories-chart'),
                config
            );
        }
    </script>
{% endblock %}