a,
a:focus,
a:hover {
    color: #fff;
}

html,
body {
    height: 100%;
    background-color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.content-section {
    position: relative;
    margin-top: 40px;
    left: 30%;
    width: 40%;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 50px;
}

.card {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 22% !important;
}

.products {
    position: absolute;
    left: 6%;
}

.filter-buttons {
    margin: 12px;
    opacity: 0.9;
}

.category-title {
    margin-left: 10px;
    display: inline-block;
}

.delete {
    margin: -2px;
}

#add-product {
    float: right;
    margin-right: 80px;
    margin-top: 5px;
}

.nav-link:hover {
    color: #58ce37;
}

.chart-container {
    margin: auto;
    width: 50%;
}

#category-dropdown {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-img-top {
    max-height: 150px;
}

#products-chart {
    margin-bottom: 60px;
}

#categories-chart {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    width: 500px !important;
    height: 500px !important;
}

#product-input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    margin-top: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 60%;
}

.alert {
    text-align: center;
    margin-bottom: 0px !important;
}

.delete {
    float: right;
}